<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminController</servlet-name>
  	<display-name>AdminController</display-name>
  	<description></description>
  	<servlet-class>com.RestaurantController.AdminController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderServlet</servlet-name>
  	<display-name>OrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.RestaurantController.OrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewOrder</servlet-name>
  	<display-name>NewOrder</display-name>
  	<description></description>
  	<servlet-class>com.RestaurantController.NewOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReservationServlet</servlet-name>
  	<display-name>ReservationServlet</display-name>
  	<description></description>
  	<servlet-class>com.RestaurantController.ReservationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactServlet</servlet-name>
  	<display-name>ContactServlet</display-name>
  	<description></description>
  	<servlet-class>com.RestaurantController.ContactServlet</servlet-class>
  </servlet>
  
  
  

  
  <servlet-mapping>
  	<servlet-name>AdminController</servlet-name>
  	<url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderServlet</servlet-name>
  	<url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewOrder</servlet-name>
  	<url-pattern>/NewOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReservationServlet</servlet-name>
  	<url-pattern>/ReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactServlet</servlet-name>
  	<url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  
 
  
  
  
</web-app>
